In [1]:
import pandas as pd
from tqdm.notebook import tqdm
tqdm.pandas()

C:\Libraries\anaconda3\lib\site-packages\tqdm\std.py:697: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import Panel

In [2]:
raw = pd.read_csv("./raw/training.1600000.processed.noemoticon.csv", names=['sentiment', 'id', 'date', 'flag', 'user', 'tweet'], encoding = "ISO-8859-1", engine="python")

In [3]:
raw.head()

,sentiment,id,date,flag,user,tweet
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [4]:
compiled = pd.DataFrame()

In [5]:
compiled['sentiment'] = raw['sentiment'].progress_map(lambda sentiment: 'positive' if sentiment == 4 else 'negative')

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=1600000.0), HTML(value='')))

In [6]:
compiled['text'] = raw['tweet']

In [8]:
compiled.head()

  sentiment                                               text
0  negative  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1  negative  is upset that he can't update his Facebook by ...
2  negative  @Kenichan I dived many times for the ball. Man...
3  negative    my whole body feels itchy and like its on fire
4  negative  @nationwideclass no, it's not behaving at all....

In [9]:
compiled.to_csv('./Data-Compiled.csv', index=False)